*{
    position: relative;
    margin:1px;
    padding:5px;
    box-sizing: border-box;
}

.container{
    width: 100px;
    height: 100vh;
    padding:5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox img {
    width: 62px;
    height: 61px;
}

.searchbox{
    width: 500px;
    height: 95px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 21px;
}

.searchbox input{
    flex: 1;
    border: 0;
    width: 286px;
    outline: none;
    font-size: 24px;
    color:#000;
    font-weight: 500;
    text-transform: uppercase;
}

.searchbox button img{
    width: 39px;
    height: 37px;
}

.searchbox button{
    border: 0;
    border-radius: 60%;
    width: 55px;
    background: #CCCCDB;
    cursor: pointer;
    font-size: 9px;
}

body {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(41, 41, 58, 1);
}


h1 {
    font-family: 'Ubuntu Mono', monospace;
}